@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700");

html {
    height: 100%;
}

body {
    background: url('../img/cc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Arial", sans-serif;
}
@media (min-width: 979px) {
    body {
        padding-top: 80px;
    }
}

.ffc-red {
    color: #d71c2d;
}


#login-wraper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -185px;
    margin-left: -235px;
    padding: 25px;
    width: 420px;
    height: 320px;
    background: rgba(255,255,255,0.87);
}

.login-form legend {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 25px;
}

.login-form legend {
    font-family: "Arial", sans-serif !important;
    font-size: 42px !important;
    font-weight: 300 !important;
    color: #666666 !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-align: center !important;
}

@media (max-width: 980px) {

    #login-wraper {
        position: relative;
        top: 0;
        margin-top: 25px;
    }
}
@media (max-width: 495px) {
    
    #login-wraper {
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }

}
