@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700");

* {
    outline: 0px !important;
}

html, body {
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    font-family: "Open Sans", sans-serif !important;
}

/* Bootstrap override styles */
code {
    word-break: break-all;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #dedede;
    border-left: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #333233;
}

.nav-btn-custom {
    margin: 6px 10px -6px 10px;
}

.nav-img-custom {
    width: 100%;
    height: 49px;
    background-image: url('../img/lynx-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
}

.form-control {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: dimgray;
}

label {
    font-weight: 600;
    font-size: 12px;
    text-align: right !important;
    color: #333233;
}

a {
    color: #333233;
    text-decoration: none;
}

/* End Bootstrap Override */

.special-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #dedede;
}

.profile-image  {
    padding-top: 0px;
    padding-bottom: 0px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f7f7f7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #dedede;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 14px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333233;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    margin: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav li > a >.fa {
    width: 30px;
    margin-right: 4px;
    text-align: left;
}

.sidebar-nav-sub {
    list-style: none;
}

.sidebar-nav-sub li {
    text-indent: 2px;
    line-height: 28px;
}


.address-group > .form-control,
.address-group > .input-group > .form-control {
    border-radius: 0px !important;
    border-bottom: none;
}

.address-group > .input-group > .form-control {
    width: 100% !important;

}

.record-count {
    display: block;
    margin-bottom: -10px;
    color: #a6a6a6;
}

/*.address-group > .form-control:first-of-type {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.address-group > .form-control:last-of-type {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom: 1px solid #ccc;
}*/

.lcrm-delete:hover {
    color: #d71c2d !important;
}

.gmail-from {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}